@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 100% 6.7%;
    --foreground: 222.2 47.4% 93.3%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --card: 210 100% 6.7%;
    --card-foreground: 222.2 47.4% 93.3%;

    --popover: 210 100% 6.7%;
    --popover-foreground: 222.2 47.4% 93.3%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 93.3%;
    --primary-foreground: 210 40% 6.7%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 93.3%;

    --accent: 222, 59%, 15%;
    --accent-foreground: 222.2 47.4% 93.3%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 93.3%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
